.material-icons {
    background-color: rgb(52, 52, 52);
    color: white;
    border-radius: 50%;
    padding: 8px;
    margin-left: -10px;
}

.fire-bot {
    background-color: #a4c639;
}

md-card md-card-content {
    padding: 0;
    padding-left: 10px;
}

md-card-footer {
    border-top: 1px solid #EEEEEE;
}