<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
    </md-button>
    <h1>Hangman on Fire</h1>
  </div>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      
    </md-sidenav>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
            <div id="nameRow">
                <label for="name">Name:</label><input type="text" id="name"></input>
            </div>
            <div id="chatWindow">
                <ul id="messageList"></ul>
            </div>
            <div>
                <input type="text" id="message" placeholder="Something witty here..."></input>
            </div>
        </md-content>
    </div>
</div>